# 来自作业「提供的支持」：研发培训院 26 届培训专用应用
WPS_APP_ID=AK20260803NPCCQX
WPS_APP_SECRET=your_app_secret_here

# 固定回调（开放平台已登记，勿改端口）
WPS_REDIRECT_URI=http://127.0.0.1:18365/callback
WPS_OAUTH_SCOPE=kso.user_base.read
